/* Start Variables  */
:root {
  --main-color: #03a9f4;
}
/* End Variables  */
/* Start Global Rules  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small  */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large  */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules  */
/* Start Settings Box */
.setting-box {
  position: fixed;
  left: -200px;
  top: 0;
  background-color: white;
  width: 200px;
  min-height: 100vh;
  transition: 0.3s;
  z-index: 1000;
}
.setting-box.open {
  left: 0;
}
.setting-box .toggle-setting {
  position: absolute;
  right: -30px;
  top: 90px;
  background-color: white;
  border-radius: 0 5px 5px 0;
  text-align: center;
  cursor: pointer;
}
.setting-box .fa-gear {
  width: 30px;
  padding: 5px 0;
}
.setting-box .fa-gear.spin {
  animation: gear 1.5s infinite linear;
}
/* Animation Gear  */
@keyframes gear {
  100% {
    transform: rotate(360deg);
  }
}
/* Option Area */
.setting-box .option {
  padding: 10px;
  text-align: center;
  margin: 10px;
  background-color: #eee;
  border-radius: 10px 0 10px 0;
}
/* Edit Colors  */
.setting-box .option h4 {
  color: #666;
}
.setting-box .option .colors-list {
  text-align: center;
  margin-top: 15px;
}
.setting-box .option .colors-list li {
  display: inline-block;
  width: 23px;
  height: 23px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  margin-left: 5px;
  border: 3px solid #eee;
}
.setting-box .option .colors-list li.active {
  opacity: 1;
  border: 3px solid white;
}
.setting-box .option .colors-list li:first-child {
  background-color: #03a9f4;
}
.setting-box .option .colors-list li:nth-child(2) {
  background-color: #ff9800;
}
.setting-box .option .colors-list li:nth-child(3) {
  background-color: #8bc34a;
}
.setting-box .option .colors-list li:nth-child(4) {
  background-color: #673ab7;
}
.setting-box .option .colors-list li:last-child {
  background-color: #ff5722;
}
/* Edit Auto Background  */
.setting-box .option .yes,
.setting-box .option .no {
  all: unset;
  width: 30px;
  background-color: var(--main-color);
  display: inline-block;
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  margin: 20px 3px 0;
  border-radius: 5px;
  cursor: pointer;
  opacity: .5;
  transition: .3s;
}
.setting-box .auto-bg button.active {
  opacity: 1;
}
/* End Settings Box */
/* Start Header  */
header {
  position: absolute;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  color: white;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 1.3px;
}
header .header-list {
  display: inline-flex;
  gap: 20px;
}
header .header-list li a {
  color: white;
  transition: 0.3s;
  font-size: 17px;
}
header .header-list li a:hover {
  color: var(--main-color);
}
/* End Header  */
/* Start Landing  */
.landing {
  min-height: 100vh;
  background-image: url(/images/1.jpg);
  background-size: cover;
  position: relative;
  z-index: -1;
}
.landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.landing .text-intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.landing .text-intro h1 {
  color: white;
  font-size: 35px;
}
.color-style {
  transition: 0.3s;
  color: var(--main-color);
}
.landing .text-intro p {
  color: white;
  line-height: 1.5;
  font-size: 20px;
}

/* End Landing  */
