/* Start Variables  */
:root {
  --main-color: #03a9f4;
  --main-padding: 100px;
}
/* End Variables  */
/* Start Global Rules  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small  */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large  */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules  */
/* Identification To This Website  */
::selection {
  background-color: var(--main-color);
  color: rgb(255, 255, 255);
}
/* Start Compontent  */
.main-title {
  border: 2px solid;
  width: fit-content;
  margin: 0 auto 80px;
  padding: 10px 20px;
  text-transform: uppercase;
  color: var(--main-color);
  position: relative;
  z-index: 200;
  transition: 0.3s;
}
.name-delay {
  color: white;
  border: 2px solid var(--main-color);
  transition-delay: .5s;
}
.animation-title::after,
.animation-title::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  z-index: -1;
}
.animation-title::after {
  right: -50px;
  animation: right-side .8s forwards;
}
.animation-title::before {
  left: -50px;
  animation: left-side .8s forwards;
}
/* Animation About Us  */
@keyframes right-side {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    width: 50%;
    height: 101%;
    border-radius: 0;
  }
}
@keyframes left-side {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    width: 51%;
    height: 101%;
    border-radius: 0;
  }
}
/* End Compontent  */
/* Start Settings Box */
.setting-box {
  position: fixed;
  left: -200px;
  top: 0;
  background-color: var(--main-color);
  width: 200px;
  min-height: 100vh;
  transition: 0.3s;
  z-index: 1000;
}
.setting-box.open {
  left: 0;
}
.setting-box .toggle-setting {
  position: absolute;
  right: -30px;
  top: 90px;
  background-color: var(--main-color);
  border-radius: 0 5px 5px 0;
  text-align: center;
  cursor: pointer;
}
.setting-box .fa-gear {
  width: 30px;
  padding: 5px 0;
}
.setting-box .fa-gear.spin {
  animation: gear 1.5s infinite linear;
}
/* Animation Gear  */
@keyframes gear {
  100% {
    transform: rotate(360deg);
  }
}
/* Option Area */
.setting-box .option {
  padding: 10px;
  text-align: center;
  margin: 10px;
  background-color: #eee;
  border-radius: 10px 0 10px 0;
}
/* Edit Colors  */
.setting-box .option h4 {
  color: #666;
}
.setting-box .option .colors-list {
  text-align: center;
  margin-top: 15px;
}
.setting-box .option .colors-list li {
  display: inline-block;
  width: 23px;
  height: 23px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  margin-left: 5px;
  border: 3px solid #eee;
}
.setting-box .option .colors-list li.active {
  opacity: 1;
  border: 3px solid white;
}
.setting-box .option .colors-list li:first-child {
  background-color: #03a9f4;
}
.setting-box .option .colors-list li:nth-child(2) {
  background-color: #ff9800;
}
.setting-box .option .colors-list li:nth-child(3) {
  background-color: #8bc34a;
}
.setting-box .option .colors-list li:nth-child(4) {
  background-color: #673ab7;
}
.setting-box .option .colors-list li:last-child {
  background-color: #ff5722;
}
/* Edit Auto Background  */
.setting-box .option .yes,
.setting-box .option .no {
  all: unset;
  width: 30px;
  background-color: var(--main-color);
  display: inline-block;
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  margin: 20px 3px 0;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}
.setting-box .auto-bg button.active {
  opacity: 1;
}
/* End Settings Box */
/* Start Header  */
header {
  position: absolute;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  color: white;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 1.3px;
}
header .header-list {
  display: inline-flex;
  gap: 20px;
}
header .header-list li a {
  color: white;
  transition: 0.3s;
  font-size: 17px;
}
header .header-list li a:hover {
  color: var(--main-color);
}
/* End Header  */
/* Start Landing  */
.landing {
  min-height: 100vh;
  background-image: url(/images/1.jpg);
  background-size: cover;
  position: relative;
  z-index: -1;
}
.landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.landing .text-intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.landing .text-intro h1 {
  color: white;
  font-size: 35px;
}
.color-style {
  transition: 0.3s;
  color: var(--main-color);
}
.landing .text-intro p {
  color: white;
  line-height: 1.5;
  font-size: 20px;
}
/* End Landing  */
/* Start About Us  */
.about-section {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.about-section .info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-section .info-box  .info-parag {
  max-width: 600px;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 600;
}
.about-section .image-about {
  position: relative;
}
.about-section .image-about::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 1s;
  transition-delay: .8s;

}
.about-section .image-width::after {
  width: 100%;
}
.about-section .image-about p {
  position: absolute;
  top: 50%;
  left: 2%;
  color: black;
  line-height: 1.6;
  font-size: 45px;
  font-weight: bold;
  transform: translateY(-50%);
  z-index: 100;
  opacity: 0;
  transition: 1s;
  transition-delay: .8s;
}
.about-section .image-about p.op {
  opacity: 1;
}
/* End About Us  */
/* Start Gallery  */
.gallery-section {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
/* End Gallery  */
